python 3.8
https://github.com/zombieCraig/uds-server # for testing
sudo apt-get install can-utils
pip3 install python-can
pip3 install can-isotp
// https://github.com/hartkopp/can-isotp
// https://github.com/CaringCaribou/caringcaribou
pip3 install --pre scapy[complete]
pip3 install vininfo[cli]